
.small_headlines, .timer_heading {
    font-size: 17px;
    padding: 1px 15px;
    margin-left: 00px;
}
.small_headlines {
    color:yellow;
    font-weight: 400;
    padding-bottom: 10px;
    left: 23px;
    background: rgb(0, 14, 2);
    box-shadow: 3px 13px 20px rgb(0 0 0 / 49%);
    
p {
    margin: 54px;
}
p {
    margin: 0 0 10px;
}
* {
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
p {
    display: block;
    margin-block-start: 5em;
    margin-block-end: 5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.content-inner {
    width: 95%;
    max-width: 600px;
    margin: 5px auto;
    text-align: center;
    padding: 15px 3px;
    border-radius: 4px;
    color: white;
}
user agent stylesheet
center {
    text-align: -webkit-center;
}
.my_who
{
    color: red;

}


.Large_headlines, .timer_heading {
    font-size: 17px;
    padding: 1px 15px;
    margin-left: 100px;
}
.Large_headlines {
    color: rgb(201, 191, 191);
    font-weight: 400;
    padding-bottom: 10px;
    left: 33px;
    background: rgb(129, 129, 14);
    box-shadow: 13px 13px 20px rgb(0 0 0 / 49%);
}
p {
    margin: 54px;
}
p {
    margin: 0 0 10px;
}
* {
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.content-inner {
    width: 95%;
    max-width: 600px;
    margin: 5px auto;
    text-align: center;
    padding: 15px 3px;
    border-radius: 4px;
    color: #006939000;
}
user agent stylesheet
center {
    text-align: -webkit-center;
}
















span{
position:fixed;
    
    color: rgba(158, 47, 14, 0.7);
    font-size: 9PX;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: ARIAL;
    left: 42px;


}
.okay select{ 
    position: fixed;
    width: 403px;
    border-radius: 2px;
    height: 35px;
    border-width: -5649px;
    left: 10px;
    background-color: white;
    border: 1px solid rgb(212, 222, 232);
    box-shadow: rgba(49, 70, 89, 0.7);
    
}
input[type=text],select{
    position: fixed;
    width: 700px;
    border-radius: 2px;
    height: 35px;
    border-width: -5649px;
    left: 10px;
    border: 1px solid rgb(212, 222, 232);
    font-size: 11px;
    background-color: white;
    color:rgb(212, 222, 232); ;
    box-shadow: rgba(49, 70, 89, 0.7);
    
}



button{
	background-color: rgb(97, 216, 143);
    color: #fff;
    margin-left: 34PX;
	padding: 10px 154px;
	font-size: 15px;
	border: 0;
	outline: 0;
    cursor: pointer;

}
.button2{
	background-color: rgb(21, 9, 194);
    color: #fff;
    margin-left: 34PX;
	padding: 10px 140px;
	font-size: 13px;
	border: 0;
	outline: 0;
    cursor: pointer;

}

